
<mat-tab-group style="height: 100%;"> 
  <mat-tab label="Input">
    <div class="coll">
      <div
        class="textbox-div"
        style="
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
        "
      >
        <textarea
          style="margin: 2rem; width: 80vw; height: 20vh"
          matInput
          placeholder="Text goes here..."
          #inp
        ></textarea>
      </div>

      <div
        class="buttons"
        style="
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
        "
      >
        <button mat-raised-button color="primary" style="width: 10vw">
          Upload
        </button>
        <button mat-raised-button color="primary" (click)='makecall(inp.value)' style="width: 10vw">
          Read
        </button>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Output" style="min-height: 100%; "> 
     <div class="cols" style="display: flex; flex-direction: row; justify-content: space-evenly;  min-height: 70%; padding-top: 1rem;">
       <mat-card class="col" >
         <mat-card-subtitle style=" text-align: center;"> Persons</mat-card-subtitle>
         <mat-divider inset style="margin-bottom: 0.5rem;"></mat-divider>
         <mat-card-content class="item" *ngFor="let name of persons">{{name}}</mat-card-content>
       </mat-card>
       <mat-card class="col">
        <mat-card-subtitle style=" text-align: center;"> Diseases</mat-card-subtitle>
        <mat-divider inset style="margin-bottom: 0.5rem;"></mat-divider>
        <mat-card-content class="item" *ngFor="let disease of diseases">{{disease}}</mat-card-content>
       </mat-card>
       <mat-card class="col">
        <mat-card-subtitle style=" text-align: center;"> Drugs</mat-card-subtitle>
        <mat-divider inset style="margin-bottom: 0.5rem;"></mat-divider>
        <mat-card-content class="item" *ngFor="let drug of drugs">{{drug}}</mat-card-content>
       </mat-card>
       <mat-card class="col">
        <mat-card-subtitle style=" text-align: center;"> Dates</mat-card-subtitle>
        <mat-divider inset style="margin-bottom: 0.5rem;"></mat-divider>
        <mat-card-content class="item" *ngFor="let date of dates">{{date}}</mat-card-content>
       </mat-card>
       <mat-card class="col">
        <mat-card-subtitle style=" text-align: center;"> Quantity</mat-card-subtitle>
        <mat-divider inset style="margin-bottom: 0.5rem;"></mat-divider>
        <mat-card-content class="item" *ngFor="let quant of quantity">{{quant}}</mat-card-content>
       </mat-card>
     </div>
  </mat-tab>
</mat-tab-group>
 