.coll {
    display: flex;
    flex-direction: column;
}

.col {
    width: 10vw;
    // padding: 1rem;
    min-height: 60vh;
}

.item{
    text-align: center;
}

:host ::ng-deep .mat-tab-body-wrapper {
    height: 100%;
  
  }
  
  :host ::ng-deep .mat-tab-body.mat-tab-body-active {
    height: 100%;
  
  }